<h1>Welcome to Training Tracker</h1>
<div class="container-fluid">
 <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Bench Press</th>
        <th>Deadlift</th>
        <th>Squat</th>
      </tr>
    </thead>

    <tbody *ngFor="let trainer of trainers">
        <tr (click)="viewTrainer(trainer)">
          <td>{{trainer.id}}</td>
          <td>{{trainer.name}}</td>
          <td>{{trainer.bench}}</td>
          <td>{{trainer.squat}}</td>
          <td>{{trainer.deadlift}}</td>
        </tr>
      </tbody>


  </table>
  <form name="addTrainerForm">
    <label for="name">Full Name</label><br>
    <input name="name" type="text" [(ngModel)]="newTrainer.name"> <br>
    <label for="bench">Bench Press</label><br>
    <input name="bench" type="number"[(ngModel)]="newTrainer.bench"> <br>
    <label for="deadlift">Deadlift</label><br>
    <input name="deadlift" type="number"[(ngModel)]="newTrainer.deadlift"><br>
    <label for="squat">Squat</label><br>
    <input name="squat" type="number"[(ngModel)]="newTrainer.squat"><br><br>
    <button name="addTrainerButton" (click)="addTrainer()">Add Trainer</button>
  </form>
<br>
  <div id="todoDetails" *ngIf="selected">
  <h6>ID: {{ selected.id }}</h6>
  <h6>Name: {{ selected.name }}</h6>
  <p>Bench Press: {{ selected.bench }}lbs</p>
  <p>Squat: {{ selected.squat}}lbs</p>
  <p>Deadlift: {{ selected.deadlift }}lbs</p>
  <button class="btn btn-outline-primary" (click)="reload()">Close Details</button>
  <button class="btn btn-outline-primary" (click)="edit(selected)">Edit</button>
  <button class="btn btn-outline-danger" (click)="delete(selected)">Delete</button>
</div>
</div>
